<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="net.awired.visuwall.core.application.log.outFilter" />
	</appender>

	<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="net.awired.visuwall.core.application.log.errFilter" />
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>

</configuration>

