<div id="navigationContainer">
	<div id="modal" style="display: none"></div>
	<ul id="navigation">
		<li id="name">Visuwall</li>
		<li id="wallSelector">
			<select id="wallSelect" name="wall"></select>
			<button id="edit" type="button" value="Edit">Edit</button>
			<button  class="add" id="add" type="button" value="Add">Add</button>
		</li>
		<li><div id="fontSizeSlider"></div></li>
		<li><button id="refresh">Refresh</button></li>
		<li id="helper"><img id="helperimg" src="res/img/helpS.png"></li>
		<li id="about"><a href="http://visuwall.awired.net/"
			title="Visuwall">${version}</a></li>
	</ul>
</div>