#projectTab #projectTabNav SPAN.ui-icon-close {
	float:right;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#projectTab #projectTabNav DIV.dropzone {
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

#projectTab #projectTabNav DIV.dropzone.active {
	border: 1px dashed #c41313; 
	background-color: #e76d6d;
	display: block !important;
}

#projectTab #projectTabNav DIV.dropzone.hovered {
	border: 1px dashed #425E13; 
	background-color: #CFC;
	display: block !important;
}



#projectTab #projectTabNav li.ui-tabs-selected {
	padding-right: 1px;
}


/*** projectTab ***/
FORM#wallForm DIV#projectTab.ui-tabs-vertical {
	margin-top: 30px;
	background: transparent;
	border: 0;
	padding: 0;
}
FORM#wallForm DIV#projectTab.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 165px;
	
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
FORM#wallForm DIV#projectTab.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
FORM#wallForm DIV#projectTab.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}
FORM#wallForm DIV#projectTab.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
FORM#wallForm DIV#projectTab.ui-tabs-vertical .ui-tabs-panel {
/* 	padding: 1em; */
	float: right;
	width: 750px;
	background-color: #EEE;
	border: 1px solid #AAA;
	
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
	border-radius: 0 4px 4px 4px;
}