<div style="display: none" id="helperdiv">
	<table>
		<thead>
			<tr>
				<th>Color</th>
				<th>Project State</th>
			</tr>
		</thead>

		<tr>
			<td class="success-state"></td>
			<td>Project in Success</td>
		</tr>
		<tr>
			<td class="failure-state"></td>
			<td>Project compilation failure</td>
		</tr>
		<tr>
			<td class="new-state"></td>
			<td>New Project without any builds</td>
		</tr>
		<tr>
			<td class="aborted-state"></td>
			<td>Last build was aborted</td>
		</tr>
		<tr>
			<td class="unstable-state"></td>
			<td>project with fail test(s)</td>
		</tr>
		<tr>
			<td class="notbuilt-state"></td>
			<td>the build was not able to run</td>
		</tr>
		<tr>
			<td class="unknown-state"></td>
			<td>Unknown state of project</td>
		</tr>
	</table>
</div>