#modal Input,#modal LABEL {
	display: block;
	width: 200px;
}

OL.projects .ui-selecting {
	background: #FECA40;
}

OL.projects .ui-selected {
	background: #F39814;
	color: white;
}

OL.projects {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: visible;
	overflow-x: hidden;
	position: absolute;	
	bottom: 1em;
	right: 1.4em;

	width: 320px;
	height: 160px;
}

INPUT.disabled {
	color: grey;
	background-color: #F0F0F0;
}

OL.projects li {
	margin: 0.2em;
	padding: 0.3em;
}

DIV#softwareAdd {
	margin: .4em;
	cursor: pointer;
}

#modal INPUT.url {
	width: 100%;
}

.ui-tabs-nav {
	border: 0 !important;
	-moz-border-radius: 0  !important;
	-webkit-border-radius: 0  !important;
	border-radius: 0  !important;
	border-bottom: 1px solid #AAA !important;
}

#softwareTabs {
	margin-top: 1em;
	background-color: #eee;
	padding: 0 !important;
}

#softwareTabs .ui-tabs-panel {
	background-color: #eee;
}

#softwareTabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}