#projectsTable {
	height: 100%;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}


#projectsTable tr td {
/*	border: 1px solid black;*/
	vertical-align: top;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	color: white;
}

#projectsTable .success {
	background-color: green;
}

#projectsTable .failure {
	background-color: red;
}

#projectsTable .commiters {
	/*overflow: hidden;
	top:130px;
	margin-left: 10px;*/
	
		text-align: center;
	font-size: 5em;
	padding-top: 10px;
}

.project .content {
	position: relative;
	height: 100%;
}

.project .projectName {
	overflow : visible;
	font-size: 5em;
	line-height: 1.6em;
	font-weight: bold;
	/*position: absolute;*/
	top: 5px;
	left: 10px;	
/*	text-align: center;*/
}

.project .unitTest {
	float:left;
/*	position: absolute;
	bottom: 0px;*/
}

.project .iTest {
	float:left;
/*	position: absolute;
	bottom: 25px;*/
}

.project .timeleft {
	text-align: center;
	font-size: 5em;
	padding-top: 10px;
}

.project span.when {
	font-size: 0.3em;
}

.project .projectMetrics li {
	display: block;
}