BODY {
	background-color: black;
}

#projectsTable {
	height: 100%;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}

#projectsTable tr td.project {
/*	border: 1px solid black;*/
	vertical-align: top;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	color: black;
	background-color:white;
}

#projectsTable td.success {
	background-color: green;
/*	background-color: #63b542;*/
}

#projectsTable .failure {
	background-color: red;
/*	background-color: #f3373c;*/
}

#projectsTable .commiters, #projectsTable .quality {
	text-align: center;
	font-size: 4em;
	padding-top: 10px;
}

TABLE.uTest TD, TABLE.iTest TD {
	font-weight: bold;
	color: white !important;
	font-size: 1.8em;
	height: 30px;
	text-align: center;
}

#projectsTable TABLE.innerTable {
	height: 100%;
	width: 100%;
	valign: middle;
}

.project .projectName {
	color: white;
	text-align: center;
	overflow : visible;
	font-size: 5em;
	line-height: 1.1em;
	font-weight: bold;
}

.project abbr {
	font-size: 0.5em;
	font-style: italic;
}

.project .timeleft {
	text-align: center;
	font-size: 2.5em;
	line-height: 1em;
}

/* TEST PART */
TD.uTestTD, TD.iTestTD {
	height: 30px;
}
TABLE.uTest TD.failure, TABLE.iTest TD.failure {
	background-color: #ef2929 !important;
}
TABLE.uTest TD.ignore, TABLE.iTest TD.ignore {
	background-color: #fce94f !important;
	color: black !important;
}
TABLE.uTest TD.success, TABLE.iTest TD.success {
	background-color: #729fcf !important;
}
