/** software tab **/
FORM#wallForm #softTabs {
	margin-top: 1em;
	background-color: #eee;
	padding: 0 !important;
}

FORM#wallForm #softTabs li.ui-state-default {
	padding-bottom: 1px;
}


FORM#wallForm #softTabs li.ui-tabs-selected {
	padding-bottom: 2px;
}

FORM#wallForm #softTabs .ui-tabs-panel {
	background-color: #eee;
}

FORM#wallForm #softTabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

FORM#wallForm #softTabs .ui-tabs-nav {
	border: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #AAA !important;
}

FORM#wallForm #softTabs .ui-tabs-nav li a {
	outline: medium none;
}

FORM#wallForm #softTabs SPAN.urlDemo {
	font-size: 0.8em;
	color: #666;
	cursor: pointer;
	padding-left: 10px;
}

/*** softwareInfo ***/
FORM#wallForm DIV.softwareInfo {
	float: left;
	width: 500px;
}

FORM#wallForm DIV.softwareInfo INPUT.url {
	width: 450px !important;
}

FORM#wallForm DIV.softwareInfo DIV.element {
	float: left;
	margin-right: 10px;
}

FORM#wallForm DIV.softwareInfo .slider {
	margin: 7px 5px;
	width: 450px;
	float: left;
}

/*** accordion ***/
FORM#wallForm DIV.projectsAccordion {
	float: right;
	width: 400px;
}

FORM#wallForm DIV.projectsAccordion  DIV.accordionContent {
	height: 100px;
}
