DIV#navigationContainer {
	height: 2.7em;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 50;
}

UL#navigation {
	background-color: white;
	border-bottom: 1px solid grey;
	height: 100%;
}

UL#navigation DIV#fontSizeSlider {
	width: 100px;
	display: inline-block;
}

LI#name {
	font-size: 2em;
	font-weight: bold;
	margin: auto;
}

LI#about {
	font-size: 0.9em;
	float:right;
	padding-right: 5px;
	line-height: 2em;
}

LI#about A {
	color: black;
}

LI#about A:HOVER {
	text-decoration: underline;
}